{{define "_packages.html"}}
{{if .}}
<table class="packages">
  <thead>
    <tr>
      <th>package</th>
      <th>version</th>
      <th>type</th>
      <th>source</th>
      <th>target</th>
    </tr>
  </thead>
  <tbody>
    {{range .}}
      <tr>
        <td title="{{.Name}}"><code>{{.Name}}</code></td>
        <td class="muted" title="{{.Version}}"><code>{{.Version}}</code></td>
        <td class="muted" title="{{.Type}}">{{.Type}}</td>
        <td class="muted" title="{{.Source}}">{{if .Source}}<code>{{.Source}}</code>{{else}}—{{end}}</td>
        <td class="muted" title="{{.Target}}">{{.Target}}</td>
      </tr>
    {{end}}
  </tbody>
</table>
{{end}}
{{end}}
