{{define "_row.html"}}
{{$img := .Image}}{{$group := .Group}}{{$indent := .Indent}}{{$scanning := .Scanning}}{{$fetching := .Fetching}}{{$hidden := .Hidden}}
{{$indentClass := ""}}
{{if eq $indent 1}}{{$indentClass = "indent-1"}}{{end}}
{{if eq $indent 2}}{{$indentClass = "indent-2"}}{{end}}
{{$cls := "tree-row"}}
{{if eq $indent 0}}{{$cls = ""}}{{end}}
{{if eq $indent 1}}{{$cls = "tree-row tree-lvl-2"}}{{end}}
{{if eq $indent 2}}{{$cls = "tree-row tree-lvl-3"}}{{end}}
<tr id="image-{{$img.ID}}"{{if $cls}} class="{{$cls}}"{{end}}{{if $group}} data-group="{{$group}}"{{end}}{{if $hidden}} hidden{{end}}>
  <td class="tree-col-1 {{$indentClass}}">
    <a href="{{base}}/images/{{$img.ID}}">
      {{if $img.OS}}{{$img.OS}}/{{$img.Arch}}{{else}}{{$img.TagName}}{{end}}
    </a>
    {{if isStub $img}}<span class="muted">(stub)</span>{{end}}
  </td>
  <td class="muted">{{template "_digest.html" $img.Digest}}</td>
  <td><span class="{{stateClass $img.State}}">{{$img.State}}</span></td>
  <td class="muted" title="{{formatTime $img.UpdatedAt}}">{{formatRelative $img.UpdatedAt}}</td>
  <td class="row-actions">{{template "_actions.html" (dict "Image" $img "Scanning" $scanning "Fetching" $fetching "DetailTarget" false)}}</td>
</tr>
{{end}}
